*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

ol, ul {
    list-style: none;
    padding: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

a {
    display: block;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}

.wrapper {
    max-width: 700px;
    margin-inline: auto;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

#image-frame {
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
}

#image-frame img {
    margin-inline: auto;
    border-radius: 5px;
}

#options {
    padding-bottom: 32px;
}

.optionButton {
    --flow-space: 0.6em;
    display: block;
    margin-inline: auto;
    font-size: 1.5rem;
    padding-inline: 24px;
    padding-block: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(19, 100%,27%);
    color: white;
}

.optionButton:active {
    opacity: 0.8;
}

.optionButton:active:disabled {
    opacity: 1;
}

.correct {
    background-color: green;
    box-shadow: 0px 0px 10px 5px lightgreen;
}

.incorrect {
    background-color: hsl(3, 75%, 65%);
    box-shadow: 0px 0px 10px 5px hsl(0, 73%, 85%);
}

.optionButton.nextButton {
    background-color: rgb(18, 16, 53);
}
