:root {
    --correct: #E8F3D6;
    --incorrect: #FF9E9E;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 24px;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

ol, ul {
    list-style: none;
    padding: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

a {
    display: block;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.wrapper {
    width: 600px;
    /* border: solid; */
    margin-inline: auto;
}

#statement {
    border: 2px solid;
    border-radius: 8px;
    padding: 12px 8px;
    box-shadow: 5px 5px black;
}

#options button {
    display: block;
    width: 50%;
    margin-inline: auto;
    cursor: pointer;
    border: none;
    padding-block: 8px;
    border-radius: 8px;
    background-color: hsl(0 2% 80%);
}

#options button:hover {
    opacity: 0.8;
}

#options button:active {
    background-color: hsl(0 2% 50%);
}

#options .correct {
    background-color: hsl(110deg 30% 50%);
}

#options .incorrect {
    background-color: hsl(0deg 50% 50%);
}